``` //output:index.html

  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='css/style.css')
  body
    .index
      
      .section(data-name="mobile-menu")
        input(id="toggle" type="checkbox")
        label(class="toggle-container" for="toggle")
          span.button-toggle.button-mobile
        nav.mobile-nav
          a.mobile-nav-item About
          a.mobile-nav-item Our Stories
          a.mobile-nav-item Courses
        .mobile-nav-logo
          
      .section(data-name="preheader")
        .bg
        .overlay
          .topLogo(data-parallax="-1")
            .logoImg
              
          .centreCopy
            h1(data-parallax="-3") Question the Answers
            
            p.lead(data-parallax="-5") Encourage change, ask questions and lift the lid on things that 
              | no-one else would dare to. 
              br
              | This is our style at Monash University and 
              | we want you to explore it with us. 
            
            br
            .cont(data-parallax="-8")
              button.cta.btn.btn--white Watch it now
          
          
          button.scrollDown
            
      .section(data-name="header").mainHeader
        nav
          ul
            li.logo: a(href="#")
              .logoImg
            li: a(href="#") About
            li: a(href="#") Our Stories
            li: a(href="#") Courses
            li: a(href="#") Next Gen
            li: a(href="#") Choose Monash
            li: a(href="#") Contact
      .section(data-name="headerSpacer").headerSpacer
    
      .section(data-name="intro")
        .lineDown(data-parallax="-2")
        .bigM
        .image1(data-parallax="28")
        .image2
        .content
          h2 Progress Doesn't accept 
            br 
            | answers,
            | It questions them
            
          .textSpace
            p We are big in scale, big in thinking and big in the way
              br
              | we contribute to the global community.
              
            p As a student, you'll be encouraged to challenge the 
              | status quo, beyond tradition and convention, with 
              | tailored study and a course range that ensures 
              | greater personal outcomes. We know that when you 
              | learn to question the answers, your potential 
              | is unleashed.
            
      .section(data-name="nextgen")
        .bg(data-parallax="-20")
        .content
          h2 Next-Generation Thinkers
          p Progress needs restless thinking. Ideas that move. Ideas that take us beyond the expected 
            br
            | to the unexpected, and to incredible outcomes. Ideas for now. Ideas for the future. 
            br
            br
            | In these short films, we see how Curiousity, Innovation, Impact,
            | Inspiration and Progress are brought to life at Monash University. 
            br
          
          .videoCarousel
            .carousel-container
              .carousel.my-carousel.carousel--translate
                - var panels = ['curiosity', 'innovation', 'impact', 'inspiration', 'progress']
                each val in panels
                  input.carousel__activator-gallery-one(type="radio", name="gallery-one-activator", id=val, checked=(val == panels[1]))
                
                each val, idx in panels
                  .carousel__controls
                    label.carousel__control.carousel__control--backward(for=`${(idx == 0) ? panels[panels.length - 1] : panels[idx - 1]}`)
                    label.carousel__control.carousel__control--forward(for= `${(idx == panels.length - 1) ? panels[0] : panels[idx + 1]}`)
                
                .carousel__track
                  
                  .carousel__slide
                      .img-wrapper
                      .playButtonDiv
                        img(class='playButton')
                      img(class='curiosity')

                      div.videoDescription
                        h2 Curiosity 
                        p We are all born curious. Why am I moving and how far can I go? What if I make a noise? What is that? Why is that? It is this insatiable human desire to constantly ask 'why', 'why', 'why' that leads to the greatest discoveries. And that's part of our Monash DNA.  
                                      
                  .carousel__slide
                      .img-wrapper
                      .playButtonDiv
                          img(class='playButton')
                      img(class='innovation')


                      div.videoDescription
                        h2 Innovation 
                        p Testing, trailing, pushing the limits and harnessing creative thought. At Monash, we think innovation happens when things are turned on their head, when what we know to be true is questioned and we let ourselves believe in possibility.
                      
                  .carousel__slide
                      .img-wrapper
                      .playButtonDiv
                        img(class='playButton')
                      img(class='impact')

                      div.videoDescription
                        h2 Impact
                        p Whether it's through leadership programs, or through study or more social-minded initiatives, we give all our students a range of opportunities to create an impact and leave their own legacy.
                      
                  .carousel__slide
                      .img-wrapper
                      .playButtonDiv
                        img(class='playButton')
                      img(class='inspiration')

                      div.videoDescription
                        h2 Inspiration 
                        p What fuels inspiration? Those who you surround yourself with? Or the environment? Or a combination of both? As Australia's largest university we also consider ourselves to be Australia's largest think tank too - surrounding our students with peers that are as hungry as they are, guide by world-class lecturers and industry leaders.
                  
                  .carousel__slide 
                      .img-wrapper
                      .playButtonDiv
                        img(class='playButton')
                      img(class='progress')

                      div.videoDescription
                        h2 Impact
                        p Testing, trialing, pushing the limits and harnessing creative thought. At Monash, we think innovation happens when things are turned on their head, when what we know to be true is questioned and we let ourselves believe in possibility.

                  .carousel__slide 
                      .img-wrapper
                      .playButtonDiv
                        img(class='playButton')
                      img(class='qta')

                      div.videoDescription
                        h2 Question the Answers
                        p It’s the desire to challenge the norm and pursue a philosophy of interrogation. It is the inherent mindset to question the answers put in front of you, to move forward. Monash equips students with the skills and the mindset to question the answers in order to make a bigger impact in their lives and their careers.
                        
      .section(data-name="newthinking")
        .bg(data-parallax="-20")
        .content
          h2 New Problems, New Thinking
          p Some rocked the boat. Others changed the game but they all 
            | questioned the answers. 
            br
            | Meet and be inspired by 10 incredible Monash people who
            | are creating the extraordinary &mdash; 
            br
            | here and around the world.
          
          .videoCarousel
            .carousel-container
              .carousel.my-carousel.carousel--translate
                - var panels = ['nStone', 'kFitzGibbon', 'nBertram', 'sFenton', 'tLe', 'xWu', 'bKiernan', 'mMcintosh', 'kSievert', 'sLoni' ]
                - var panels_length = panels.length + 4;
                each val in panels
                  input.carousel__activator(type="radio", name="activator", id=(val), checked=(val == panels[1]))
                
                each val, idx in panels
                  .carousel__controls
                    label.carousel__control.carousel__control--backward(for=`${(idx == 0) ? panels[panels.length - 1] : panels[idx - 1]}`)
                    label.carousel__control.carousel__control--forward(for= `${(idx == panels.length - 1) ? panels[0] : panels[idx + 1]}`)
                
                .carousel__track
                
                  .carousel__slide
                      .img-wrapper
                      .playButtonDiv
                        img(class='playButton')
                      img(class='nStone')

                      div.videoDescription
                        h2 Nick Stone
                        p.personDescription Bluestone Lane Founder and Monash Business School graduate.
                        p.personCaption Discover how Monash Business School graduate, Nick Stone took a slice of Australian culture and turned it into a business success story on the world's biggest stage.
                      
                  .carousel__slide
                      .img-wrapper
                      .playButtonDiv
                        img(class='playButton')
                      img(class='kFitzGibbon')

                      div.videoDescription
                        h2 Dr. Kate Fitz-Gibbon
                        p.personDescription Senior Lecturer in Criminology, Monash University
                        p.personCaption Learn how Monash Research, Kate Fitz-Gibbon helped to shut down provocation being used as a defence in Australian murder charges.
                      
                  .carousel__slide
                      .img-wrapper
                      .playButtonDiv
                        img(class='playButton')
                      img(class='nBertram')

                      div.videoDescription
                        h2 Nigel Bertram
                        p.personDescription Professor of Architecture, Monash University.
                        p.personCaption See how Monash University's Nigel Bertram thought outside the squire and inspired new thinking and reinvention with the Big West House.
                  
                  .carousel__slide 
                      .img-wrapper
                      .playButtonDiv
                        img(class='playButton')
                      img(class='sFenton')

                      div.videoDescription
                        h2 Sophie Fenton
                        p.personDescription Sandridge School Co-Founder and Principal, Monash University Graduate.
                        p.personCaption Watch how Monash's 2016 Distinguished Alumni Award for the Faculty of Education, Sophie Fenton, dreamt big, challenged the norms and thought beyond the classroom.
                
                  .carousel__slide 
                      .img-wrapper
                      .playButtonDiv
                        img(class='playButton')
                      img(class='tLe')

                      div.videoDescription
                        h2 Tan Le
                        p.personDescription EMOTIV Founder and CEO, Monash University graduate.
                        p.personCaption Open minds like former young Australian of the Year, Tan Le who helped revolutionise the way medical technology is used in our lives.
                        
                  .carousel__slide 
                      .img-wrapper
                      .playButtonDiv
                        img(class='playButton')
                      img(class='xWu')

                      div.videoDescription
                        h2 Professor XinHua Wu
                        p.personDescription Director at Monash Centre for Additive Manufacturing.
                        p.personCaption Be inspired by Monash engineering researcher Professor XinHua Wu, who challenged the status quo of aircraft engine manufacturing.
      
                  .carousel__slide 
                      .img-wrapper
                      .playButtonDiv
                        img(class='playButton')
                      img(class='bKiernan')

                      div.videoDescription
                        h2 Professor Ben Kiernan
                        p.personDescription Monash University Distinguished Alumni Award 2015 - Faculty of the Arts.
                        p.personCaption Learn how the Founding Director of the Genocide Study Program, Ben Kiernan, worked to bring the perpetrators of the Khmer Rouge regime to justice.
                  
                  .carousel__slide 
                      .img-wrapper
                      .playButtonDiv
                        img(class='playButton')
                      img(class='mMcintosh')

                      div.videoDescription
                        h2 Michelle McIntosh
                        p.personDescription Associate Professor of Pharmacy and Pharmaceutical Sciences, Monash University.
                        p.personCaption See how Monash Associate Professor Michelle McIntosh is delivering life-saving solutions to women around the world.      
                  
                  .carousel__slide 
                      .img-wrapper
                      .playButtonDiv
                        img(class='playButton')
                      img(class='kSievert')

                      div.videoDescription
                        h2 Kate Sievert
                        p.personDescription Education Coordinator, Hepatitis Victoria and Monash University graduate.
                        p.personCaption See how Monash graduate Kate Sievert and her work with migrant communities and the treatment of Hepatitis B. 
                  
                  .carousel__slide 
                      .img-wrapper
                      .playButtonDiv
                        img(class='playButton')
                      img(class='sLoni')

                      div.videoDescription
                        h2 Sam Loni
                        p.personDescription Global Coordinator of SDSN Youth and Monash University graduate.
                        p.personCaption Follow the story of Sam Loni, who helped create a youth-run division of the United Nations, whilst a student at Monash University. 
      
      .section(data-name="flexiblelearning")
        .bg
        .content
          //- .lineDown(data-parallax="-4")
          .title
            h2 Study with Monash
            p Wherever you're headed, you'll find a course at Monash that can get you there, <br>
              | Our range of programs include:
          .halves
            //- left
            .col.original-image.padding-left

              .box.border-right.border-bottom
                h4.title Double Degrees
                p.description 
                  | These courses offer a wide range of majors allowing you
                  | to build your studies arond your professional and personal needs. You have the option to choose your major at the start of your course, or study a range of options before narrowing your focus. 


              .box.border-right
                h4.title Graduate Degrees
                p.description 
                  | Our wide range of grauate degrees can help you advance your career, qualify to practice in a profession or allow you to expand your knowledgeand skills a new discipline.
                  
              //- 
            
            //- right
            .col.flipped-image.padding-left
              .box.border-bottom
                h4.title Comprehensive Degrees
                p.description 
                  | These courses offer a wide range of majors allowing you to 
                  | build your studies around your professional and personal needs. 
                  | You have the option to choose your major at the start of your 
                  | course, or study a range of options before narrowing your focus.
              .box
                h4.title Specialist Degrees
                p.description 
                  | If you know what you want to do and are looking for a  direct route into a particular field or career, then a specialist degree might be right for you.

            .clear

            .button-div
              button.cta.btn.btn--black Find a Course
        
          .mobile-section
            h4 Double Degrees
            h4 Comprehensive Degrees
            h4 Graduate Degrees
            h4 Specialist Degrees
          

      
      .section(data-name="viewthecollection")
        //- .lineDown(data-parallax="-5")
        .bg
        //- .overlay
          .content
      
      .section(data-name="choosemonash")

        .chooseMonashHeader
          h2 Choose Monash
          p.description When you're choosing a university, you need to question the answers, to uncover it's driving motivations and to consider what you need for your most successful future. At Monash, the quality of our teaching, international reputation and exceptional facilities are just three of the many reasons we're consistenly ranked in the top 100 universities in the world.
        
        .content  
          .content-row.clearfix
            .col
              div
                img.bulb-image
                h3 International Experience
                div
                  p To take on the world you need a truly internationla outlook. Monash offers students the opportunitiy to become genuine global thinkers with campuses in Australia, Malaysia, China, India, and Italy. We also offer one of the most extensive international exchange and study tour programs with opportunities available in 100 partnering universities across 30 countries across the globe.
            .col
              div
                img.g8-image
                h3 Group of 8 University
                div
                  p Monash University is a founding member of the Group of 8, Australia's leading universities. The breadth of our academic expertise, diversity of the student cohort, size and scale of our alumni network, the campus experience and the on-campus resources all combine to give you a wealth of opportunity and experience here at Monash.
          
          .content-row.clearfix
            .col
              div
                img.bulb-image
                h3 Size and Scale
                div
                  p A big university provides you with big opportunities. As Australia's largest university, with over 60,000 students and 300,000 alumni from over 170 countries, we are well placed to offer the benefits that brings. We know our students thrive in this inclusive and truly empowering environment.
                
            .col
              div
                img.bulb-image
                h3 Top 100 University World Ranking
                div
                  p Our world-class reputation for excellence in education and research coupled with our global record of innovation has seen Monash University ranked 73rd in the world, securing a place in the top 100 of world universities (Times Higher Education World University Rankings 2015-2016).
          
          .content-row.clearfix  
            .col
              div
                img
            
            .col
              div
                img.trendup-image
                h3 A Modern University
                div
                  p At just 50 years young, Monash has a contemporary world-view. We are continually driving change and improvement and have a proud history of preparing studetns for careers in the modern world.
          
          .content-row.clearfix
            .col
              div
                img.partner
                h3 Education Fused with Enterprise
                div
                  p Integrating work and industry experience comes naturally at Monash. You'll be encouraged to develop practical expertise alongside leadership and entrepreneurship skills, through a range of programs and initiatives at a personal level or associated with your area of study.
          
            .col
              div
                img.scope
                h3 Staff and Research
                div
                  p Monash University was awarded 5 stars for Teaching and Excellence and Research (the Good Universities Guide 2015). This ensures all our students are immersed in the highest caliber learning environment you'll find in Australia.
                
          .content-row.clearfix
            .col
              div
                img.bulb-image
                h3 Courses and Specialisations
                div
                  p When it comes to study,  we know that one size does not fit all so we have a wide range of courses for you to choose from. Whether you have a passion for the arts, are focused on a career in medicine, or want to pursue a career in the global business world, there's a course to suit you. You can choose an education experience that will prepare you for a successful career.
                
            
            .col
              div
                img
          
          
          //- .halves
          //-   //- left
          //-   .col
          //-     .image
          //-       .img
          //-     
          //-     .quality
          //-       .logo
          //-       h3 International Experience
          //-       p.description To take on the world you need a truly international 
          //-         | outlook. Monash offers students the opportunity to become 
          //-         | genuine global thinkers with campuses in Australia, Malaysia, 
          //-         | China India and Italy. 
          //-         br
          //-         br
          //-         | We also offer one of the most extensive international 
          //-         | exchange and study tour programs with opportunities available 
          //-         | in 30 countries around the globe.
          //-     
          //-     .quality
          //-       .logo
          //-       h3 International Experience
          //-       p.description To take on the world you need a truly international 
          //-         | outlook. Monash offers students the opportunity to become 
          //-         | genuine global thinkers with campuses in Australia, Malaysia, 
          //-         | China India and Italy. 
          //-         br
          //-         br
          //-         | We also offer one of the most extensive international 
          //-         | exchange and study tour programs with opportunities available 
          //-         | in 30 countries around the globe.
          //-     
          //-     .quality
          //-       .logo
          //-       h3 International Experience
          //-       p.description To take on the world you need a truly international 
          //-         | outlook. Monash offers students the opportunity to become 
          //-         | genuine global thinkers with campuses in Australia, Malaysia, 
          //-         | China India and Italy. 
          //-         br
          //-         br
          //-         | We also offer one of the most extensive international 
          //-         | exchange and study tour programs with opportunities available 
          //-         | in 30 countries around the globe.
          //- 
          //-     .quality
          //-       .logo
          //-       h3 International Experience
          //-       p.description To take on the world you need a truly international 
          //-         | outlook. Monash offers students the opportunity to become 
          //-         | genuine global thinkers with campuses in Australia, Malaysia, 
          //-         | China India and Italy. 
          //-         br
          //-         br
          //-         | We also offer one of the most extensive international 
          //-         | exchange and study tour programs with opportunities available 
          //-         | in 30 countries around the globe.
          //-       
          //-   //- right
          //-   .col
          //-     .quality
          //-       .logo(data-name="experience")
          //-       h3 International Experience
          //-       p.description To take on the world you need a truly international 
          //-         | outlook. Monash offers students the opportunity to become 
          //-         | genuine global thinkers with campuses in Australia, Malaysia, 
          //-         | China India and Italy. 
          //-         br
          //-         br
          //-         | We also offer one of the most extensive international 
          //-         | exchange and study tour programs with opportunities available 
          //-         | in 30 countries around the globe.
          //-     
          //-     .quality
          //-       .logo(data-name="size")
          //-       h3 Size and Scale
          //-       p.description To take on the world you need a truly international 
          //-         | outlook. Monash offers students the opportunity to become 
          //-         | genuine global thinkers with campuses in Australia, Malaysia, 
          //-         | China India and Italy. 
          //-         br
          //-         br
          //-         | We also offer one of the most extensive international 
          //-         | exchange and study tour programs with opportunities available 
          //-         | in 30 countries around the globe.
          //-         
          //-     .image
          //-       .img
          //-         
          //-     .quality
          //-       .logo(data-name="partner")
          //-       h3 International Experience
          //-       p.description To take on the world you need a truly international 
          //-         | outlook. Monash offers students the opportunity to become 
          //-         | genuine global thinkers with campuses in Australia, Malaysia, 
          //-         | China India and Italy. 
          //-         br
          //-         br
          //-         | We also offer one of the most extensive international 
          //-         | exchange and study tour programs with opportunities available 
          //-         | in 30 countries around the globe.
          //-         
          //-         
          //-     .quality
          //-       .logo(data-name="bulb")
          //-       h3 Courses and Specialisations
          //-       p.description To take on the world you need a truly international 
          //-         | outlook. Monash offers students the opportunity to become 
          //-         | genuine global thinkers with campuses in Australia, Malaysia, 
          //-         | China India and Italy. 
          //-         br
          //-         br
          //-         | We also offer one of the most extensive international 
          //-         | exchange and study tour programs with opportunities available 
          //-         | in 30 countries around the globe.
          //-     
          //-   .clear
        
      .section(data-name="makeithappen")
        .bg
        .overlay
          .content
            h2 Make it happen
            p Monash University has a large range of flexible study options that can be tailored to your needs and with intake periods throughout the year - now is the ideal time to start planning your Monash University future.
            
            button.cta.btn.btn--white Study at Monash
      .section(data-name="contact")
        .content
          .halves
            .col
              h2 Phone
              span 61 3 9520 5210
            .col
              h2 Email
              span contact@monash.edu.au
      .section(data-name="footer")
        .content
          .attr
            span CRICOS provider: Monash University 00008C
          .social
            ul
              li.yt: a(href="#", target="_blank"): .icon
              li.tt: a(href="#", target="_blank"): .icon
              li.fb: a(href="#", target="_blank"): .icon
              li.insta: a(href="#", target="_blank"): .icon
      
    //scripts
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="js/index.js")
